<a href="https://colab.research.google.com/github/yack97/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
lista = [0,2,4,6,8]
data = pd.Series(lista)
data

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [3]:
data.values

array([0, 2, 4, 6, 8])

In [4]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
population_dict = {'California': 38, 'Texas': 264, 'New York': 196, 'Florida': 195, 'Illinois': 128}
population = pd.Series(population_dict)
population

California     38
Texas         264
New York      196
Florida       195
Illinois      128
dtype: int64

In [6]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [9]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [13]:
# prompt: genreear ejemplo de dataframe

import pandas as pd
# Crear un diccionario con los datos
data = {'Nombre': ['Juan', 'María', 'Pedro', 'Ana'],
        'Edad': [25, 32, 28, 40],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']}

# Crear un DataFrame a partir del diccionario
df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    32  Barcelona
2  Pedro    28   Valencia
3    Ana    40    Sevilla

In [14]:
# prompt: ejemplo remplzara vlaor nan en un data frame

import pandas as pd
import numpy as np

# Crear un DataFrame con valores NaN
df_nan = pd.DataFrame({'A': [1, 2, np.nan, 4],
                       'B': [5, np.nan, np.nan, 8],
                       'C': [9, 10, 11, 12]})

# Reemplazar los valores NaN con 0
df_filled = df_nan.fillna(0)

# Mostrar el DataFrame con los valores NaN reemplazados
print(df_filled)

     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  0.0  11
3  4.0  8.0  12

In [15]:
# prompt: ejemplo de copiar data fraem y trabajr con la copia

# Crear una copia del DataFrame df
df_copia = df.copy()

# Modificar la copia sin afectar el DataFrame original
df_copia['Edad'] = df_copia['Edad'] + 1

# Mostrar el DataFrame original y la copia
print("DataFrame original:")
print(df)
print("\nDataFrame copia:")
print(df_copia)

DataFrame original:
  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    32  Barcelona
2  Pedro    28   Valencia
3    Ana    40    Sevilla

DataFrame copia:
  Nombre  Edad     Ciudad
0   Juan    26     Madrid
1  María    33  Barcelona
2  Pedro    29   Valencia
3    Ana    41    Sevilla

In [17]:
# prompt: ejemeplo de copia de dataframe y trabajr con la copia y agregar una columna a la copia

# Crear una copia del DataFrame df
df_copia = df.copy()

# Modificar la copia sin afectar el DataFrame original
df_copia['Edad'] = df_copia['Edad'] + 1

# Agregar una nueva columna a la copia
df_copia['Genero'] = ['Masculino', 'Femenino', 'Masculino', 'Femenino']

# Mostrar el DataFrame original y la copia
print("DataFrame original:")
print(df)
print("\nDataFrame copia:")
print(df_copia)

DataFrame original:
  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    32  Barcelona
2  Pedro    28   Valencia
3    Ana    40    Sevilla

DataFrame copia:
  Nombre  Edad     Ciudad     Genero
0   Juan    26     Madrid  Masculino
1  María    33  Barcelona   Femenino
2  Pedro    29   Valencia  Masculino
3    Ana    41    Sevilla   Femenino

In [18]:
# prompt: ejemeplo de copia de dataframe y trabajr con la copia y agregar una columna a la copia, luego combianr los cambios de la copia con el original

# Crear una copia del DataFrame df
df_copia = df.copy()

# Modificar la copia sin afectar el DataFrame original
df_copia['Edad'] = df_copia['Edad'] + 1

# Agregar una nueva columna a la copia
df_copia['Genero'] = ['Masculino', 'Femenino', 'Masculino', 'Femenino']

# Mostrar el DataFrame original y la copia
print("DataFrame original:")
print(df)
print("\nDataFrame copia:")
print(df_copia)

# Combinar los cambios de la copia con el original (usando update)
df.update(df_copia)

# Mostrar el DataFrame original después de la combinación
print("\nDataFrame original después de la combinación:")
print(df)

DataFrame original:
  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    32  Barcelona
2  Pedro    28   Valencia
3    Ana    40    Sevilla

DataFrame copia:
  Nombre  Edad     Ciudad     Genero
0   Juan    26     Madrid  Masculino
1  María    33  Barcelona   Femenino
2  Pedro    29   Valencia  Masculino
3    Ana    41    Sevilla   Femenino

DataFrame original después de la combinación:
  Nombre  Edad     Ciudad
0   Juan    26     Madrid
1  María    33  Barcelona
2  Pedro    29   Valencia
3    Ana    41    Sevilla

In [19]:
# prompt: ejemplo trabajr index con dataframe

import pandas as pd
# Crear un DataFrame con un índice personalizado
data = {'Nombre': ['Juan', 'María', 'Pedro', 'Ana'],
        'Edad': [25, 32, 28, 40],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

# Acceder a filas por índice
print(df.loc['B'])  # Acceder a la fila con índice 'B'

# Establecer el índice como columna
df = df.reset_index()
print(df)

# Establecer una columna como índice
df = df.set_index('Nombre')
print(df)

# Ordenar el DataFrame por índice
df_ordenado = df.sort_index()
print(df_ordenado)

Nombre        María
Edad             32
Ciudad    Barcelona
Name: B, dtype: object
  index Nombre  Edad     Ciudad
0     A   Juan    25     Madrid
1     B  María    32  Barcelona
2     C  Pedro    28   Valencia
3     D    Ana    40    Sevilla
       index  Edad     Ciudad
Nombre
Juan       A    25     Madrid
María      B    32  Barcelona
Pedro      C    28   Valencia
Ana        D    40    Sevilla
       index  Edad     Ciudad
Nombre
Ana        D    40    Sevilla
Juan       A    25     Madrid
María      B    32  Barcelona
Pedro      C    28   Valencia

In [20]:
# prompt: ejemplo imprimer interseccion

# Crear dos conjuntos
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {3, 5, 6, 7, 8}

# Encontrar la intersección de los conjuntos
interseccion = conjunto1.intersection(conjunto2)

# Imprimir la intersección
print("La intersección de los conjuntos es:", interseccion)

La intersección de los conjuntos es: {3, 5}

In [21]:
# prompt: ejemplo de mostrar las difenrencias entre dos o mas  dataframe

import pandas as pd

# Crear dos DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 2, 4], 'B': [4, 6, 6]})

# Encontrar las diferencias usando merge
diferencias = pd.merge(df1, df2, how='outer', indicator=True)
print(diferencias)

# Filtrar las filas que son diferentes
diferentes_df1 = diferencias[diferencias['_merge'] == 'left_only']
diferentes_df2 = diferencias[diferencias['_merge'] == 'right_only']

print("\nFilas diferentes en df1:")
print(diferentes_df1)

print("\nFilas diferentes en df2:")
print(diferentes_df2)

   A  B      _merge
0  1  4        both
1  2  5   left_only
2  3  6   left_only
3  2  6  right_only
4  4  6  right_only

Filas diferentes en df1:
   A  B     _merge
1  2  5  left_only
2  3  6  left_only

Filas diferentes en df2:
   A  B      _merge
3  2  6  right_only
4  4  6  right_only